@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@400;500;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: #F0F0F6;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

section:not(#banner) {
    padding-top: 100px;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

ul li a,
.navbar-start,
.banner-title,
.title,
.skill h5 {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 20px;
}

ul li a.active {
    background: none;
    border-radius: 0 !important;
    color: #F94073;
}

ul li a:hover {
    color: #F94073;
}

ul li a:focus {
    background: none;
}

.baaner-img {
    border-radius: 100%;
    padding: 0;
    border: 14px solid #fff;
    max-width: 394px;
    max-height: 394px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1), 0 20px 40px rgba(255, 255, 255, 0.15);
}

.skill-img {
    border: 10px solid #d7d3d385;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    /*  box-shadow: 0px 10px 20px #dde2ff63; */
}

.skill-img:hover {
    border-color: #d7d3d3eb;
}

.skill-img img {
    max-width: 42px;
    height: auto;
    transition: .2s;
    object-fit: cover;
}

.skill:hover img {
    transform: scale(1.1);
}

#my-skills {
    background-color: #F0F0F6;
}

.contact input,
textarea {
    font-size: 17px;
    padding: 11px 16px;
    border: 1px solid lightgray;
    border-radius: 7px;
}

.title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#services .title::after {
    content: 'what i provide';
}

#about .title::after {
    content: 'who i am';
}

#contact .title::after {
    content: 'get in tuch';
}

#portfolio .title::after {
    content: 'visit my work';
}

#my-skills .title::after {
    content: 'what i know';
}

.title::after {
    font-size: 20px;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    background: #F0F0F6;
    padding: 0 5px;
}

.title::before {
    content: '';
    width: 150px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -13%;
}

#services .title::before {
    width: 165px;
}

#contact .name,
.phone,
.email,
.adress {
    font-size: 17px;
}

#about .icon img {
    width: 20px;
}

footer .icon img {
    width: 20px;
}

.card {
    transition: 3s;
}

.project-card {
    transition: .3s;
}

.project-img:hover {
    top: -100px;
}

.project-card:hover {
    background: #050505ab;
}

.project-card:hover button {
    visibility: visible;
}

.project-card button {
    visibility: hidden;
}

@media screen and (min-width: 870px) {
    .contact {
        max-width: 500px;
    }
}

@media screen and (max-width: 870px) {
    .contact-main {
        flex-direction: column;
        width: 100%;
    }
}